// * {
// 	box-sizing: border-box;
// }

body{
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}

#app-container {
	height: 100%;
}
#map {
	height: 100%;
	width: 100%;
	z-index: 1;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #303030;
}


#ui{

	.titleScreenHolder {
         position: absolute;
         top: -5%;
         left: 22%;
         z-index: 1000;
        //  background: radial-gradient(rgba(250,150,150, 0.9) , rgba(0,0,0,0)50%);


				 .titleLogoHolder{
					 background: radial-gradient(rgba(150,150,150, 0.5) , rgba(0,0,0,0)50%);
				 }


				 .titleScreenImg{
	         width: 70%;
	 				margin-left: 17%;
	       }

	       .titleScreenBtn{
	         background: #faa938;
	         border-color: #f99406;
	 				margin-left: 47%;
	       }

				 .titleScreenUser{
					 width: 40%;
					 margin: auto;

				 }

				 .titleScreenPass{
					 margin: auto;
						width: 40%;
						margin-bottom: 50px;
				 }




      }


}

.authLogoHolder{
	background: radial-gradient(rgba(150,150,150, 0.5) , rgba(0,0,0,0)50%);
}

.authScreenText{
	color:white;
	// font-size: 20px;
	padding: 50px 50px;
	padding-left: 20px;

}

.authScreenImg{
	width: 70%;
 	margin-left: 12%;
}


.authScreenBtn{
		margin-left: 40%;
		color: white;
}


.homeScreenHolder{


	.homeNav {
		z-index: 1000;
		position: absolute;
		right: 0;

	}


}

.homeNavPic{
	margin: 5px;
	padding: 5px;
	width:55px;
	border-radius: 100%;

}

.navMoreBtn {
	color: #faa938;
	font-size: 25px;
	margin-top:15px 10px;
	cursor: pointer;
}

.homeScreenBtn{
	background: #faa938;
	border-color: #f99406;
	opacity: 0.1;
}

.homeMeetupBox{
	position: absolute;
	left: 0;
	width: 20%;
	height: 55%;
	background: rgba(150,150,150,0.1);
	z-index: 1000;
}

.homeMeetupBox:hover{
	background: rgba(150,150,150,0.6);

	.homeScreenBtn{
		opacity: 1;
	}

}

.homeChatBox{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 45%;
	height: 20%;
	background: rgba(150,150,150,0.1);
	z-index: 1000;

}

.homeChatBox:hover{
	height: 40%;
	background: rgba(150,150,150,0.6);
}



body {
  background:#303030;
}

////loader by http://codepen.io/tystrong/pen/eDmEa \\\\\\\
.spinner{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  height: 90%;
  font-size: 20px;
  font-family: arial;
  width: 90%;
  margin: auto auto;
  border-radius: 50%;
  border-right: 9px solid rgba(250,169,56,0.8);

  animation: spinning 20s linear infinite;
}
.loader {
	position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  font-size: 20px;
  font-family: arial;
  margin: auto auto;
  border-radius: 50%;
  border-right: 9px solid rgba(250,169,56,0.8);
  animation: spinning 20s linear infinite;
  width: 300px;
  height: 300px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
    border-right: 9px solid rgba(250,169,56,0.6);
  }
  5% {border-right-color: rgba(250,169,56,0.4)}
  10% {border-right-color: rgba(250,169,56,0.6)}
  15% {border-right-color: rgba(250,169,56,0.4)}
  20% {border-right-color: rgba(250,169,56,0.6)}
  25% {border-right-color: rgba(250,169,56,0.4)}
  30% {border-right-color: rgba(250,169,56,0.6)}
  35% {border-right-color: rgba(250,169,56,0.4)}
  40% {border-right-color: rgba(250,169,56,0.6)}
  45% {border-right-color: rgba(250,169,56,0.4)}
  50% {border-right-color: rgba(250,169,56,0.6)}
  55% {border-right-color: rgba(250,169,56,0.4)}
  60% {border-right-color: rgba(250,169,56,0.6)}
  65% {border-right-color: rgba(250,169,56,0.4)}
  70% {border-right-color: rgba(250,169,56,0.6)}
  75% {border-right-color: rgba(250,169,56,0.4)}
  80% {border-right-color: rgba(250,169,56,0.6)}
  85% {border-right-color: rgba(250,169,56,0.4)}
  90% {border-right-color: rgba(250,169,56,0.6)}
  95% {border-right-color: rgba(250,169,56,0.4)}
  100% {
    transform: rotate(360deg);
    border-right: 9px solid rgba(250,169,56,0.6);
  }
}
