// * {
// 	box-sizing: border-box;
// }

body{
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}

#app-container {
	height: 100%;
}
#map {
	height: 100%;
	width: 100%;
	z-index: 1;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #303030;
}


#ui{

	.titleScreenHolder {
         position: absolute;
         top: -5%;
         left: 22%;
         z-index: 1000;
        //  background: radial-gradient(rgba(250,150,150, 0.9) , rgba(0,0,0,0)50%);


				 .titleLogoHolder{
					 background: radial-gradient(rgba(150,150,150, 0.5) , rgba(0,0,0,0)50%);
				 }


				 .titleScreenImg{
	         width: 70%;
	 				margin-left: 17%;
	       }

	       .titleScreenBtn{
	         background: #faa938;
	         border-color: #f99406;
	 				margin-left: 47%;
	       }

				 .titleScreenUser{
					 width: 40%;
					 margin: auto;

				 }

				 .titleScreenPass{
					 margin: auto;
						width: 40%;
						margin-bottom: 50px;
				 }




      }


}

.authLogoHolder{
	background: radial-gradient(rgba(150,150,150, 0.5) , rgba(0,0,0,0)50%);
}

.authScreenText{
	color:white;
	// font-size: 20px;
	padding: 50px 50px;
	padding-left: 20px;

}

.authScreenImg{
	width: 70%;
 	margin-left: 12%;
}


.authScreenBtn{
		margin-left: 40%;
		color: white;
}


.homeScreenHolder{


	.homeNav {
		z-index: 1000;
		position: absolute;
		right: 0;

	}


}

.homeNavPic{
	margin: 5px;
	padding: 5px;
	width:55px;
	border-radius: 100%;
	position: relative;

}

.navMoreBtn {
	color: #faa938;
	font-size: 25px;
	margin-top:15px 10px;
	cursor: pointer;
}

.homeScreenBtn{
	background: #faa938;
	border-color: #f99406;
	opacity: 0.1;
}

.homeMeetupBox{
	position: absolute;
	left: 0;
	width: 20%;
	// height: 40px;
	max-width: 20%;
	max-height: 55%;
	// height: 50%;
	// background: rgba(250,250,250,0.1);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: height 3s;

}

.homeMeetupBox:hover{
	// background: rgba(250,250,250,0.6);

	.homeScreenBtn{
		opacity: 1;
	}

}

.homeChatBox{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 45%;
	max-width: 45%;
	max-height: 40%;
	// height: 40%;
	// background: white;
	z-index: 1000;


	li{
		max-height: 40px;
		z-index: 1;

		a{
			background: RGBA(200, 200, 200, 0.6);
			border-color: rgba(150,150,150,0.6);
			z-index: 1;
		}

	}

}

.homeChatBox:hover{
	// height: 40%;
	// background: rgba(150,150,150,0.6);
}




.homeNavLastTabs{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	max-width: 25%;
	width: 25%;
	background: #faa938;
	border-color: #f99406;
}

.homeNavTabs{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 25%;
	max-width: 25%;
	background: #faa938;
	border-color: #f99406;
}


.homeMeetupNav{
	border-right: 0;
	border-left: 0;
	margin: 0;
	padding: 0;
	min-height: 40px;
	background: #fde3a7;
	border-color: #e0d4b8;
	position: fixed;
	width: 20%;
	z-index: 9999;

}

.ClickDisplay{
	padding-top: 40px;
}


.homeChatNav{
	border-bottom: rgba(150,150,150,1);
	z-index: 1;
	// border-bottom: 1px gray solid;
}

.chatInputBox{
	width: 100%;
	.chatInput{
		width: 90%;
	}

}

.chatSend{
	width: 10%;
	height: 38px;
	min-height: 38px;
}


.eventPics{
	width: 100%;
	margin: auto auto;
}

.eventPicHolder{
	display: inline-block;
	width: 20%;
}

.eventDetailHolder{
	display: inline-block;
	width: 70%;
}


.chatBoxHolder{
	// background: white;
	height: 500px;
	z-index: 100000;


	.chatInputBox{
		position: fixed;
		bottom: 0;
		width: 45%;
	}

	.chatMessageBox{
		height: 400px;
		border-top: 1px gray solid;
		background: white;
		overflow-y: scroll;
		padding: 15px;
		padding-bottom: 150px;

		.chatPics{
			border-radius: 100%;
			width: 8%;
		}
		.messBox{
			display: inline-block;
		}
		.messPic{
			display: inline-block;
		}
	}
}

#myTabContent{
	margin-top: 6px;
}


.list-group{
	transition: all 3s ease;
}

.homeNav{
	.menuBtns{
		width: 100%;
		font-size: 25px;
		color:#faa938;
		position: relative;
		right: -50%;
		margin-top: 15px;
	}
}

.navMoreBtn2{
	color: white;
}





body {
  background:#303030;
}

////loader by http://codepen.io/tystrong/pen/eDmEa \\\\\\\
.spinner{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  height: 90%;
  font-size: 20px;
  font-family: arial;
  width: 90%;
  margin: auto auto;
  border-radius: 50%;
  border-right: 9px solid rgba(250,169,56,0.8);

  animation: spinning 20s linear infinite;
}
.loader {
	position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  font-size: 20px;
  font-family: arial;
  margin: auto auto;
  border-radius: 50%;
  border-right: 9px solid rgba(250,169,56,0.8);
  animation: spinning 20s linear infinite;
  width: 300px;
  height: 300px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
    border-right: 9px solid rgba(250,169,56,0.6);
  }
  5% {border-right-color: rgba(250,169,56,0.4)}
  10% {border-right-color: rgba(250,169,56,0.6)}
  15% {border-right-color: rgba(250,169,56,0.4)}
  20% {border-right-color: rgba(250,169,56,0.6)}
  25% {border-right-color: rgba(250,169,56,0.4)}
  30% {border-right-color: rgba(250,169,56,0.6)}
  35% {border-right-color: rgba(250,169,56,0.4)}
  40% {border-right-color: rgba(250,169,56,0.6)}
  45% {border-right-color: rgba(250,169,56,0.4)}
  50% {border-right-color: rgba(250,169,56,0.6)}
  55% {border-right-color: rgba(250,169,56,0.4)}
  60% {border-right-color: rgba(250,169,56,0.6)}
  65% {border-right-color: rgba(250,169,56,0.4)}
  70% {border-right-color: rgba(250,169,56,0.6)}
  75% {border-right-color: rgba(250,169,56,0.4)}
  80% {border-right-color: rgba(250,169,56,0.6)}
  85% {border-right-color: rgba(250,169,56,0.4)}
  90% {border-right-color: rgba(250,169,56,0.6)}
  95% {border-right-color: rgba(250,169,56,0.4)}
  100% {
    transform: rotate(360deg);
    border-right: 9px solid rgba(250,169,56,0.6);
  }
}
